# Utiliza este archivo como plantilla, agrega tus claves y guarda como .env 

# Puerto del servidor
PORT=3000

# Conexión a MongoDB (completar cuando se configure la BD)
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<nombre_bd>
