# Utiliza este archivo como plantilla, agrega tus claves y guarda como .env 

# Puerto del servidor
PORT=3000

# Conexión a MongoDB (completar cuando se configure la BD)
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<nombre_bd>

# Clave secreta para JWT
JWT_SECRET=your_jwt_secret_here

# URL del frontend
FRONTEND_URL=your_frontend_url_here

# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME=<Your Cloudinary Cloud Name>
CLOUDINARY_API_KEY=<Your Cloudinary API key>
CLOUDINARY_API_SECRET=<Your Cloudinary API Secret>